<div class="container">

	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<label class="input-group-text" for="inputGroupSelect01">Select
				Stock or Market</label>
		</div>
		<select class="custom-select" id="stockSelect">
			<option selected>Market</option>
			<option value="1">AAPL</option>
			<option value="1">AMZN</option>
			<option value="2">MSFT</option>
			<option value="3">GOOG</option>
			<option value="3">RDS.B</option>
		</select>
	</div>

	<!-- Modal -->
	<div class="modal" tabindex="-1" role="dialog" id="modal">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalHead"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="sentimentAlert" class="alert">
						<strong id="modalSentText"></strong>
					</div>
					<p>
						Most negative news: <i id="negNews"></i>
					</p>
					<p>
						Most positive news: <i id="posNews"></i>
					</p>
				</div>
			</div>
		</div>
	</div>

</div>